<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>KASIRONALD</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!--Bagian Atas Kasironald-->
    <div class="container-fluid" id="atas">
        <div>
            <h1>KASIRONALD</h1>
        </div>
    </div>
    <!--End Bagian Atas Kasironald-->

    <!--Bagian Card Log In dan Sign Up-->
    <div class="container-fluid" id="login">
        <div id="namelogin">
            <h2 class="fw-bold">Sign Up</h2>
        </div>   
    </div> 
           <div class="container d-flex justify-content-center">
            <div class="card" style="width: 25rem; background-color:#001D49; color: aliceblue; border-radius: 10px;">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                          <div class="container text-center ">
                              <label for="exampleInputEmail1" class="form-label">Username</label>
                          </div>  
                          <div class="px-5 pe-5 ps-9">
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        </div>
                        <div class="container" >
                            <div class="row">
                                <div class="col-lg-6 px-0 pe-2">
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                      </div>
                                </div>
                                <div class="col-lg-6 px-0 ps-2">
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Shift</label>
                                        <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
                                            <option selected>08.00-16.00</option>
                                            <option value="2">15.00-22.00</option>
                                          </select>
                                      </div>
                                </div>
                                <div class="col-lg-6 px-0 pe-2">
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                        <p style="font-size: 8px;">Buat Password dengan 8 huruf/karakter</p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" style="background-color: #2759A3; font-size:15px
                        ;">Sign Up</button>
                    </div>
                      </form>
                </div>
              </div>
           </div>
    </div>  
    </div>
    <!--End Bagian Card Log In dan Sign Up-->
      
    <!--Tombol menuju Sign Up-->
    <div id="tosignup">
        <p>Login?
            <br><a href="">Klik Disini</a>
        </p>
    </div>

    <div class="copyright">
        <p>
            <svg class="svg-icon"
                style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;"
                viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M512 16C238.066 16 16 238.066 16 512s222.066 496 496 496 496-222.066 496-496S785.934 16 512 16z m234.268 693.506c-3.184 3.734-79.552 91.462-219.702 91.462-169.384 0-288.968-126.52-288.968-291.134 0-162.606 124.008-286.802 287.524-286.802 133.914 0 203.93 74.63 206.844 77.808a24 24 0 0 1 2.476 29.246l-44.76 69.31c-8.098 12.534-25.548 14.702-36.468 4.59-0.466-0.428-53.058-47.76-123.76-47.76-92.232 0-147.832 67.15-147.832 152.164 0 79.204 51.028 159.384 148.554 159.384 77.394 0 130.56-56.676 131.088-57.25 10.264-11.13 28.118-10.066 37.016 2.106l49.094 67.144a24.002 24.002 0 0 1-1.106 29.732z"
                    fill="" /></svg>

            Copyright Kasironald 2022
        </p>
    </div>





    <script src="js/bootstrap.min.js"></script>
</body>

</html>
