<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/9ce3ba5157.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <title>KASIRONALD</title>
</head>

<body>

    <!-- Bagian Atas Navigation -->
    <!-- Logo Tulisan Kasironald -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top"
        style="background-color: hsl(216, 100%, 14%); height: 80px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a class="navbar-brand me-auto ms-lg-0 ms-5 px-3 text-uppercase fw-bold" id="atas">KASIRONALD</a>
            <!-- End Logo Tulisan Kasironald -->
            <!-- Menu Log out -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <div class="d-flex ms-auto my-3 my-lg-0">
                    <a class="navbar-nav" href="#" style="text-decoration:none">
                        <i class="fa-solid fa-right-from-bracket fa-2x" style="color: aliceblue;"></i>
                    </a>
                    </ul>
                </div>
            </div>
            <!-- End Menu Log out -->
        </div>
        </div>
        </div>
    </nav>
    <!-- End Bagian Atas Navigation -->

    <!-- Bagian Navbar Sidebar Samping -->
    <div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="sidebar"
        style="background-color: hsl(0, 0%, 0%);">
        <nav class="navbar-dark" style="font-size: 18px;">
            <ul class="navbar-nav">
                <li>
                    <a href="#" class="nav-link px-4 mt-4 active">
                        <i class="fa-solid fa-bars"></i>
                        <span>Beranda</span>
                        </i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 mt-3  active">
                        <i class="fa-regular fa-money-bill-1"></i>
                        <span>Transaksi</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 mt-3  active">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Pegawai</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 mt-3  active">
                        <i class="fa-solid fa-square-plus"></i>
                        <span>Atur Menu</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 mt-3  active">
                        <i class="fa-solid fa-clipboard-list"></i>
                        <span>Laporan Keuangan</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    <!-- End Bagian Navbar Sidebar Samping -->

    <!-- Isi Konten Dashboard -->

    <main class="mt-4 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="margin-top: 55px;">
                    <center>
                        <h4>Dashboard</h4>
                    </center>
                </div>
            </div>
        </div>
        <Hr/>
    </main>


    <!-- End Isi Konten Dashboard -->


    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>
