
body,
button {
  /* font-family: "Inter", sans-serif; */
}
:root {
  --offcanvas-width: 15vw;
  --topNavbarHeight: 0;
}
.sidebar-nav {
  width: var(--offcanvas-width);
  /* z-index: -1; */
}

.nav-link:hover{
  background-color: black;
}

#atas {
  font-size: 30px;
}

#omset {
  background-color: hsl(216, 100%, 14%);
  color: aliceblue;
  height: 150px;
  border-radius: 10px;
}

#tanggal {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  height: 50px;
  border-radius: 20px;
  border: 1px;
}

@import "compass/css3";

body{
  /* font:13px/1.3 'Lucida Grande',sans-serif; */
  color:#666;
}

@keyframes draw{
  0%{height:0;} 
}


@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}