/* .container {
    width: 100%;
    min-height: 200px;
 } */

 a, a:hover{
    color:#333
  }
  
#atas {
    display: grid;
    background-color: #001D49;
    margin-top: 20px; 
    height: 100px;
    color: aliceblue;
    text-align: center;
    align-items: center;
}


#namelogin {
    display: grid;
    height: 100px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}

#cardlogin {
    display: flex;
    height: 240px;
    background-color: #001D49;
    color: rgb(255, 255, 255);
    padding-bottom: 40px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 100%;
    max-width: 330px;
    margin: auto;
}



#username
{
    display: grid;
    text-align: center;
    align-items: center;
}

#inputPassword
{
    display: grid;
    text-align: center;
    align-items: center;
}


#buttonlogin
{
 color: aliceblue;
 position: absolute;
 align-items: center;
 justify-content: center;
 background-color: #2759A3;  
 transform: translateX(-50%)
}

#tosignup
{
    display: grid;
    margin-top: 15px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}

#tologin
{
    display: grid;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}

.copyright
{
    display: grid;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}